table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    text-align: center;
    font-weight: bold;
    background-color: #ccc;
}

td {
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

td.empty {
    background-color: #eee;
}
